<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My Music DB Application</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<header th:fragment="navigation">
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <a class="nav-link" href="/">
            <img src="/img/logoGrape.png" width="40px" alt="logoGrape picture">
        </a>

        <div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin Panel
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:href="@{/admin/control}">Admin Panel</a>
                <a class="dropdown-item" th:href="@{/wine/add}">Add wine</a>
            </div>
        </div>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item ">
                    <a class="nav-link text-white active h5" th:href="@{/factory/view}">Factories</a>
                </li>
                <li class="nav-item ">
                    <a sec:authorize="isAuthenticated()" class="nav-link text-white active h5" th:href="@{/reviews/addReview}">Add Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active h5"
                       sec:authorize="!isAuthenticated()"
                       th:href="@{/users/login}">Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active h5"
                       sec:authorize="!isAuthenticated()"
                       th:href="@{/users/register}">
                        Register
                    </a>
                </li>


                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" class="nav-link">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<footer th:fragment="footer" class="footer bg-blur">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy;Naydenovi's wine company 2009 - 2021. All rights reserved.
            Contact: +359 895 587 386
            Email: wine_naydenovi@gmail.com
        </div>
    </div>
</footer>

</body>

</html>
