<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="content-area text-light">

                    <div class="container-fluid full-height">
                        <div class="col-md-12 full-height relative min-height">
                            <div class="wrapper-vertical-center">
                                <div class="text-center about-header">
                                    <h2 class="block-header">За Нас</h2>
                                </div>
                                <div class="card box-shadow" style="background-color: #b1dfbb;">
                                    <div class="card-body">
                                        <div class="text-primary">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, iste, numquam!
                                            Alias beatae consectetur culpa, debitis eius eligendi ipsum itaque
                                            maiores minima natus nesciunt quod reprehenderit, veniam voluptas voluptatibus. Alias?
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, iure!
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci cupiditate, deleniti
                                            deserunt dignissimos eligendi ipsa iusto, maiores maxime neque nulla officiis optio pariatur possimus
                                            praesentium quo recusandae sit veniam? Delectus fuga iusto obcaecati perferendis placeat tempore. Modi,
                                            molestias, quos? Corporis culpa delectus earum esse eum exercitationem ipsa, laborum maxime nihil numquam
                                            quaerat quia tempora. Aliquid distinctio dolores esse in nam numquam quidem recusandae sapiente veritatis vero.
                                            Aliquid animi aperiam aspernatur at aut, autem
                                            deleniti distinctio dolorum eos eum hic in ipsam ipsum labore natus necessitatibus nesciunt, nisi
                                            non porro quam quas quos sit tempora tenetur totam unde vitae voluptatem! Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit.
                                            Adipisci cum dolore iusto sapiente vel! Adipisci eius nisi officia temporibus voluptatem!

                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>