<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<main class="p-5 bg-blur text-center">
    <h1 class="text-light border-bottom">Add wine for the customers.</h1>
    <div class="d-flex justify-content-center">
        <form th:action="@{/wine/add}" method="POST" th:object="${wineAddBindingModel}"
              class="text-light">
            <div class="form-row m-5">
                <div class="col">
                    <label for="name">Wine name</label>
                    <input id="name" th:field="*{name}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Wine name">
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameError" class="form-text bg-danger rounded"></small>
                </div>
                <div class="col">
                    <label for="imageUrl">Image Url</label>
                    <input id="imageUrl" th:field="*{imageUrl}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Image Url">
                    <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" id="imageUrlError" class="form-text bg-danger rounded"></small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="price">Price</label>
                    <input id="price" th:field="*{price}" th:errorclass="is-invalid" type="number" class="form-control" placeholder="Price">
                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" id="priceError" class="form-text bg-danger rounded"></small>
                </div>
                <div class="col">
                    <label for="amount">Amount</label>
                    <input id="amount" th:field="*{amount}" th:errorclass="is-invalid" type="number" class="form-control" placeholder="Amount">
                    <small th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" id="amountError" class="form-text bg-danger rounded"></small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="madeDate">Release date</label>
                    <input id="madeDate" th:field="*{madeDate}" th:errorclass="is-invalid" type="date" class="form-control" placeholder="Made date">
                    <small th:if="${#fields.hasErrors('madeDate')}" th:errors="*{madeDate}" id="madeDateError" class="form-text bg-danger rounded"></small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="factory">Factory</label>
                    <select id="factory" name="factory" class="custom-select">
                        <option value="" selected>Select Factory</option>
                        <option value="Naydenovi's Stanimaka EOOD">Naydenovi's Stanimaka EOOD</option>
                        <option value="Naydenovi's Serdika EOOD">Naydenovi's Serdika EOOD</option>
                        <option value="Naydenovi's Pirgos EOOD">Naydenovi's Pirgos EOOD</option>
                    </select>
                    <small th:if="${#fields.hasErrors('factory')}" th:errors="*{factory}" id="factoryError" class="form-text bg-danger rounded"></small>
                </div>
                <div class="col">
                    <label for="type">Type</label>
                    <select id="type" name="type" class="custom-select">
                        <option value="" selected>Select Type</option>
                        <option th:each="t: ${T(com.business.project.model.entity.enums.TypeEnum).values()}"
                                th:text="${t}" th:value="${t}"></option>

                    </select>
                    <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" id="typeError" class="form-text bg-danger rounded"></small>
                </div>
            </div>

            <div class="form-row m-5">
                <div class="col">
                    <label for="description">Description</label>
                    <textarea id="description" th:field="*{description}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Description"></textarea>
                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" id="descriptionError" class="form-text bg-danger rounded"></small>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50" type="submit">Add New Wine</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>
