<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="text-light    border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">
        <div class="row g-3 align-items-center">
            <img alt="Login image" src="/img/loginPhoto.jpg" class="w-50 rounded">
        </div>
        <div class="row g-3 align-items-center">
            <form
                    th:action="@{/reviews/addReview}" th:object="${reviewAddBindingModel}"
                    method="POST">
                <div class="form-row m-5">
                    <div class="col">
                        <label for="wineName" class="col-form-label text-light">Wine name</label>
                        <select id="wineName" name="wineName" class="custom-select">
                            <option value="" selected>Select wine</option>
                            <option th:each="w : ${allWines}" th:object="${w}"
                                    th:value="*{name}" th:text="*{name}">1</option>
                        </select>
                        <small th:if="${#fields.hasErrors('wineName')}" th:errors="*{wineName}" id="wineError" class="form-text bg-danger rounded"></small>
                    </div>
                </div>
                <div class="form-row m-5">
                    <div class="col">

<!--                        todo consider fixing value -->
                        <label for="rating" class="col-form-label text-light">Rating</label>
                        <select id="rating" name="rating" class="custom-select">
                            <option value="" selected></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <small th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" id="factoryError" class="form-text bg-danger rounded"></small>
                    </div>
                </div>
                <div class="form-row m-5">
                    <div class="col">
                        <label for="description" class="col-form-label text-light">Description</label>
                        <textarea id="description" th:field="*{description}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Description"></textarea>
                        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" id="descriptionError" class="form-text bg-danger rounded"></small>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-info">Add review</button>
                </div>
            </form>
        </div>

    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
