<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="text-light border-bottom mb-5">Admin Panel</h1>

    <h4 class="text-light border-bottom mb-5">Here you can demote or promote users on your website!</h4>
    <div class="d-flex justify-content-center">
        <div class="row g-3 align-items-center">
            <img alt="Login image" src="/img/admin.jpg" class="w-50 rounded" style="height: 300px; width: 50%">
        </div>
        <div class="row g-3 align-items-center">
            <div th:unless="${userFound}" class="alert alert-danger" role="alert">
                This username does not exist.
            </div>
            <form th:action="@{/admin/control}" th:object="${userCommandBindingModel}" method="POST">
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label text-light">Username</label>
                    </div>
                    <div class="col-auto">
                        <input type="text"
                               th:field="*{username}"
                               name="username"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline">
                        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" id="usernameError"
                               class="invalid-feedback text-light form-text bg-danger rounded">Username length must be more than 3 characters</small>
                    </div>
                </div>
                <div class="form-row m-5">
                    <div class="col text-light">
                        <label for="command">Command</label>
                        <select id="command" name="command" class="custom-select">
                            <option value="" selected>Select Command</option>
                            <option value="Promote">Promote</option>
                            <option value="Demote">Demote</option>
                        </select>
                        <small th:if="${#fields.hasErrors('command')}" th:errors="*{command}" id="commandError" class="form-text bg-danger rounded">You must select command.</small>
                    </div>
                </div>
                <div th:if="${isAlreadyAdmin}" class="alert alert-danger">
                    This is already admin account.</div>
                <div th:if="${isAlreadyGuestUser}" class="alert alert-danger">
                    This is already guest account.</div>
                <div th:if="${isSameUser}" class="alert alert-danger">
                    You can not demote/promote yourself.</div>
                <div th:if="${successCommand}" class="alert alert-success">
                    Command executed successfully.</div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Execute command</button>
                </div>
            </form>
        </div>

    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
