<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<main class="p-5 align-content-center bg-blur ">

<!--    <div th:each="r : ${allFactories}" th:object="${r}" class="row rounded mb-5 mt-3">-->
<!--        <div  class="col-md-6 bg-blur text-light rounded ">-->
<!--            <dl class="row pt-3">-->
<!--                <dt class="col-sm-3">Review by: </dt>-->
<!--                <dd class="col-sm-9" th:text="*{name}">Name</dd>-->

<!--                <dt class="col-sm-3">Date of review: </dt>-->
<!--                <dd class="col-sm-9" th:text="*{foundedYear}">Release Date-->
<!--                </dd>-->


<!--                <dt class="col-sm-3">Description</dt>-->
<!--                <dd class="col-sm-9" th:text="*{description}">Description-->
<!--                </dd>-->
<!--            </dl>-->
<!--        </div>-->
<!--    </div>-->


        <div class="row">
            <div class="col">
                <img class="d-block w-100 rounded" th:src="@{/img/factoryOne.jpg}" alt="">
            </div>
            <div class="col">
                <div class="card box-shadow">
                    <div class="card-body " th:object="${factoryOne}">
                        <div class="text-center">
                            <p th:text="|Factory name: *{name}|" class="card-text border-bottom" style="background-color: #1c7430"></p>
                            <p th:text="|Founded in: *{getFoundedYear()}|" class="card-text border-bottom" style="background-color: #1c7430"></p>
                            <p th:text="|Description: *{description}|" class="card-text border-bottom"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border-bottom w-150">
    <div class="row">
        <div class="col">
            <img class="d-block w-100 rounded" th:src="@{/img/factoryTwo.jpg}" alt="">
        </div>
        <div class="col">
            <div class="card box-shadow">
                <div class="card-body " th:object="${factoryTwo}">
                    <div class="text-center">
                        <p th:text="|Factory name: *{name}|" class="card-text border-bottom" style="background-color: #005cbf"></p>
                        <p th:text="|Founded in: *{getFoundedYear()}|" class="card-text border-bottom" style="background-color: #005cbf"></p>
                        <p th:text="|Description: *{description}|" class="card-text border-bottom "></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="border-bottom w-150">
    <div class="row">
        <div class="col">
            <img class="d-block w-100 rounded" th:src="@{/img/factoryThree.jpg}" alt="">
        </div>
        <div class="col">
            <div class="card box-shadow">
                <div class="card-body " th:object="${factoryThree}">
                    <div class="text-center">
                        <p th:text="|Factory name: *{name}|" class="card-text border-bottom" style="background-color: #856404"></p>
                        <p th:text="|Founded in: *{getFoundedYear()}|" class="card-text border-bottom" style="background-color: #856404"></p>
                        <p th:text="|Description: *{description}|" class="card-text border-bottom "></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<footer th:replace="fragments/commons :: footer"></footer>

</body>
</html>