<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<main class="p-5 align-content-center bg-blur ">

    <hr class="border-bottom w-50">
    <div class="mt-5 col-sm-12 my-auto align-self-center">
        <input id="searchInput" class="form-control mr-sm-2 w-50" type="search"
               placeholder="Enter album title or artist name" aria-label="Search">
    </div>
    <hr class="border-bottom w-75">
    <div class="row mt-5" id="albumsList">

        <div th:each="t : ${T(com.business.project.model.entity.enums.TypeEnum).values()}" th:object="${t}" class="col-md-3">
            <div class="card mb-4 box-shadow">
                <img th:src="@{/img/{pic}.png (pic = ${t})}" class="card-img" alt="Thumbnail [100%x225]"
                     data-holder-rendered="true"
                     style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <div class="text-center">
                        <p th:text="|Grape: ${t}|" class="card-text border-bottom "></p>

                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a th:href="@{/wine/browse-{type} (type = ${t})}" type="button" class="btn btn-sm btn-outline-secondary">Browse</a>
                        </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>