<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>

<body>

<header th:replace="fragments/commons :: navigation"></header>
<main class="p-5 align-content-center bg-blur">

    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h2 class="text-light">Users actions</h2>
                <div class="table-responsive text-light">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Action</th>
                            <th>Wine</th>
                            <th>Date and Time</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="l : ${allLogs}" th:object="${l}">
                            <td th:text="*{username}"></td>
                            <td th:text="*{action}"></td>
                            <td th:text="*{wine}"></td>
                            <td th:text="*{localDateTime}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</main>

</body>
<footer th:replace="fragments/commons :: footer"></footer>
</html>