<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>
<body>
<header th:replace="fragments/commons :: navigation"></header>
<main class="p-5 bg-blur text-center">
    <h1 class="text-light border-bottom">Update the wine's price and add more bottles.</h1>
    <div class="d-flex justify-content-center">
        <form th:action="@{/admin/fill/{wineName} (wineName = ${nameOfWine})}" th:method="patch" th:object="${wineUpdateBindingModel}"
              class="text-light">
            <div class="form-row m-5">
                <div class="col">
                    <label for="price">Price</label>
                    <input id="price" th:field="*{price}" th:errorclass="bg-danger" type="number" class="form-control" placeholder="Price">
                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" id="priceError" class="form-text bg-danger rounded"></small>
                </div>
                <div class="col">
                    <label for="amount">Amount</label>
                    <input id="amount" th:field="*{amount}" th:errorclass="bg-danger" type="number" class="form-control" placeholder="Amount">
                    <small th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" id="amountError" class="form-text bg-danger rounded"></small>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50" type="submit">Update wine</button>
            </div>
        </form>
    </div>
</main>
</body>
<footer th:replace="fragments/commons :: footer"></footer>
</html>
